@page "/players"
@attribute [StreamRendering(true)]

@inject IApiClient ApiClient

<PageTitle>Players</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">Players</MudText>
<MudText Class="mb-8">Manage your Players.</MudText>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@players">
        <Columns>
            <PropertyColumn Property="x => x.Name" />
        </Columns>
    </MudDataGrid>
}

@code {
    private IReadOnlyCollection<Player>? players;

    protected override async Task OnInitializedAsync()
    {
        players = await ApiClient.ListPlayers();
    }
}
