@page "/players"
@attribute [StreamRendering(true)]

@inject IApiClient ApiClient

<PageHeader Title="Players" Header="Players" SubHeader="Manage your Players." />

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<Player>? players;

    protected override async Task OnInitializedAsync()
    {
        players = await ApiClient.ListPlayers();
    }
}
