@* @using MudBlazor *@
 <div class="pb-6">
    <PageTitle>@Title</PageTitle>
    <h2>@Header</h2>
    <h3>@SubHeader</h3>
</div >
@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Header { get; set; }

    [Parameter]
    public required string SubHeader { get; set; }
}
